:root {
    --primary-color: #ce7272;         
    --secondary-color: #fad6a1;    
    --light-color: #211f26;           
    --dark-color: #33353e;
  }

  body, header, main, footer {
    display: flex;
  }  

  body {
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
  }

  header {
    color: var(--secondary-color);
    text-align: center;
  }

  .blob-container {
    display: flex;
    flex-wrap: wrap;
  }

  .blob {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.25em;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }